body {
    background-color: rgb(135,37,52);
}

.title {
    margin: 30px;
    display:flex;
align-items: center;
flex-direction: column;
}

.title .text {
    color: rgb(252 242 242);
    font-size: 40px;
    font-family: arial;
}

.tileContainer {
    gap: 5%;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
}

.tile {
    background-color: rgba(247,247,247,255);
    width: 40%;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0px;
}

#name {
    font-size: 25px;
    font-weight: 600;
    font-family: arial;
    color: rgb(135,37,52);
}

.number {
    font-size: 28px;
    font-weight: 600;
    font-family: arial;
    color:rgb(57, 57, 57);
}

.pop{
    gap: 20px;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
}

.dialog {
    border-radius: 20px;
    border-color: ghostwhite;
    background-color: rgb(247, 247, 247);
    width: 80%;
}

#redeem {
    border-color: ghostwhite;
    background-color: rgb(135,37,52);
    border-radius: 7px 7px 10px 10px;
    height: 45px;
    color: white;
    font-size: 20px;
    width: 220px;
}

#close {
    background-color: white;
    width: 50px;
    height: 45px;
    border-radius: 15px;
    font-size: 25px;
    color: rgb(135,37,52);
    border: solid 4px;
    border-color: rgb(135,37,52);
    font-weight: bold;
}